body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
pre,
code,
blockquote {
  margin: 0;
  padding: 0;
  border: 0;
}

/* layout */

body {
  max-width: 1200px;
  margin: 0 50px 0 50px;
  transition: opacity 2s ease-in;
}

.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
}

.container1 {
  background-color: #f2f3f7;
  position: fixed;
  width: 27%;
}

.container2 {
  width: 100%;
}

/* styling for aside container and its content*/
body .container {
  height: 100%;
  margin-left: 100px;
  background-image: url(/Resources/image1.jpg);
  background-repeat: no-repeat;
}
.aside_container {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aside_content1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.profilepic {
  border-radius: 100px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: rgba(8, 6, 6, 0.96); /* Set the text color */
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

a:visited {
  color: purple;
}

a:focus {
  outline: 2px solid orange;
}

a:active {
  color: green;
}

/* Home Section */
/* .home_section {
  
} */

.home_section1 {
  background-image: url("/Resources/image1.jpg");
  background-size: auto cover;
  height: 600px;
}

.home_section2 {
  background-image: url("/Resources/image2.jpg");
  background-size: auto cover;
  height: 600px;
}

/* About section */

.about-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.about-each-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
  background-color: wheat;
  height: 100px;
  width: 150px;
}

/* service section */

.service-section-container {
  display: flex;
  flex-direction: column;
  background-color: #f2f3f7;
  padding: 20px;
}

.service-section-sub-container {
  display: flex;
  flex-direction: row;

  border-bottom: 2px solid black;
  background-color: wheat;
  height: 100px;
  width: 150px;
}

.service-item {
  display: flex;
  flex-direction: column;
  background-color: #f2f3f7;
  border: 2px solid black;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
/* skills section */

.skills {
  display: flex;
  flex-direction: column;
  margin: 100px;
}

.skill-list-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.list1,
.list2,
.list3,
.list4,
.list5,
.list6 {
  padding: 20px;
  border: 2px solid wheat;
  height: 100px;
  background-color: #37393b;
}

/* educaton section */

.collapsible-content {
  display: none; /* Hide the content initially */
}

.collapsible-trigger {
  cursor: pointer;
}

.educational-section {
  background-color: aliceblue;
  padding: 20px 0 20px 0;
}

.collapsible-trigger {
  background-color: #f2f3f7;
  color: #333333;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 800px;
  margin: 5px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.my-button:hover {
  background-color: #45a049;
}

.my-button:active {
  background-color: #3e8e41;
}

/* photo story */

.photo-story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

.carousel {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-color: #f2f3f7;
  transition: opacity 2s ease-in;
}

.carousel img {
  display: none;
  width: 70%;
  height: 70%;
  border-radius: 30px;
  margin-left: 100px;
  margin-top: 50px;
}

.carousel img.active {
  display: block;
}

/* contact section */

.contact {
  background-color: #031729;
  color: #fff;
}

.contact-section {
  display: flex;
  justify-content: space-around;
}

.contact-links a {
  color: #fff;
  text-decoration: none;
}

.forms-link {
  display: flex;
  flex-direction: column;
  padding: 0 auto;
  margin-bottom: 20px;
}

@media screen and (max-width: 960px) {
  .contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .contact-links {
    margin: 10px 0;
    padding: 20px 0;
  }
  .forms-link {
    display: flex;
    flex-direction: column;
    padding: 0 auto;
  }
}
