/* body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
pre,
code,
blockquote {
  margin: 0;
  padding: 0;
  border: 0;
} */

/* styling for aside container and its content*/

body .container {
  height: 100%;
  width: 95%;
  margin-left: 100px;
  background-color: aqua !important;
  border: 2px solid black;
  background-image: url(/Resources/image1.jpg);
  background-repeat: no-repeat;
}

.aside_container {
  float: left;
  width: 30%;
  margin-left: 10px;
  background-color: #f2f3f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aside_content1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.profilepic {
  border-radius: 100px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: rgba(8, 6, 6, 0.96); /* Set the text color */
  text-decoration: none; /* Remove the underline */
}

a:hover {
  color: red;
  text-decoration: underline;
}

a:visited {
  color: purple;
}

a:focus {
  outline: 2px solid orange;
}

a:active {
  color: green;
}

/* Home Section */
.home_section {
  float: right;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.home_section1 {
  background-image: url("/Resources/image1.jpg");
  float: right;
  background-size: auto cover;
  width: 69%;
  height: 500px;
}

.home_section2 {
  background-image: url("/Resources/image2.jpg");
  float: right;
  background-size: auto cover;
  width: 69%;
  height: 500px;
}

/* .testing {
  background-image: url("/Resources/image2.jpg");
  background-size: cover;
  height: 600px;
} */
