body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
pre,
code,
blockquote {
  margin: 0;
  padding: 0;
  border: 0;
}

/* layout */

body {
  max-width: 1200px;
  margin: 0 50px 0 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
}

.container1 {
  background-color: #f2f3f7;
  position: fixed;
  width: 27%;
}

.container2 {
  width: 100%;
}

/* styling for aside container and its content*/
body .container {
  height: 100%;
  margin-left: 100px;
  background-image: url(/Resources/image1.jpg);
  background-repeat: no-repeat;
}
.aside_container {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aside_content1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.profilepic {
  border-radius: 100px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: rgba(8, 6, 6, 0.96); /* Set the text color */
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

a:visited {
  color: purple;
}

a:focus {
  outline: 2px solid orange;
}

a:active {
  color: green;
}

/* Home Section */
/* .home_section {
  
} */

.home_section1 {
  background-image: url("/Resources/image1.jpg");
  background-size: auto cover;
  height: 600px;
}

.home_section2 {
  background-image: url("/Resources/image2.jpg");
  background-size: auto cover;
  height: 600px;
}

/* About section */

.about-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.about-each-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
  background-color: wheat;
  height: 100px;
  width: 150px;
}
